.title {
  font-size: 3em;
  font-weight: bold;
}

.description {
  font-size: 1.5em;
  color: #666;
}

.subtitle {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.list {
  list-style-type: none;
  padding: 0;
  font-size: 1.2em;
  color: #444;
}